<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome back - Umbrella</title>
    <link href='http://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="container">
        <div id="logo">
            <img src="img/umbrella.png" alt="Umbrella">
        </div>
        <div id="welcome_text">
            <h2>Welcome back.</h2>
        </div>
    </div>
</body>
</html>