{% extends 'Templates/base.html.twig' %}

{% block title %}Welcome back - Umbrella{% endblock %}

{% block content %}
    <div id="logo">
        <img src="img/umbrella.png" alt="Umbrella">
    </div>
    <div id="welcome_text">
        <h2>{{ text }}</h2>
    </div>
{% endblock %}